button {
    width : 100%;
    margin: 1px auto;
}

.calculator {
    border         : 1px solid black;
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    width          : 150px;
}

.numpad {
    display       : flex;
    flex-direction: column;
    flex-grow     : 3;
}

.calculate-container {
    flex-grow: 1;
    display  : flex;

}

.row {
    display       : flex;
    flex-direction: row;
}

.error {
    background-color: lightcoral;
    transition: 0.5s;
}